*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    height: 100vh;
    width: 100%;
    background-color: #29214b;
    justify-content: center;
    align-items: center;
}

.block{
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

.input-box{
    background-color: white;
    width: 400px;
    position: relative;
}

.input-box input{
    width: 100%;
    height: 60px;
    padding: 0px 20px;
    border: 1px solid #ccc;
    outline: none;
    color: black;
    border-radius: 5px;
    font-size: 16px;
    background: transparent;
}

img{
    width: 40px;
    height: 35px;
    background: transparent;
    margin: 15px;
    cursor: pointer;
    position: absolute;
    top: 16%;
    left: 85%;
    transform: translateY(-48%);
}

button{
    margin-top: 50px;
    outline: none;
    background: #6a62d2;
    width: 80px;
    height: 40px;
    border: 0;
    cursor: pointer;
}


#message{
    position: absolute;
    margin-top: 20px;
    color: #fff;
    font-size: 16px;
    display: none;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: transparent;
    color: white;
    text-align: center;
}